html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 270px;
    border: 1px solid #CCC;
}

.panel {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    bottom: 10px;
}

.box {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 60px;
    width: 60px;
    background: #333;
}

.panel h3 {
    margin: 0 0 10px;
    padding: 0 0 5px;
    text-align: right;
    border-bottom: 1px solid #CCC;
}

.panel .item {
    margin: 0 5px 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
}

.panel .item-active {
    background: #CCC;
}

.panel .opt {
    margin-top: 20px;
    text-align: center;
}
